.contactContainer {
    padding: 20px;
    background-color: #f9f9f9;
}

.contactHeader {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.contactList {
    list-style-type: none;
    padding: 0;
}

.contactItem {
    margin-bottom: 10px;
}

.contactLabel {
    font-size: 1.2em;
    color: #333;
    margin-right: 5px;
}

.socialMediaList {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialMediaItem {
    margin: 0 10px;
}