.projectsContainer {
    padding: 20px;
    background-color: #f9f9f9;
}

.projectCard {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
}

.projectTitle {
    font-size: 1.5em;
    color: #333;
}

.projectDescription {
    font-size: 1.2em;
    color: #666;
}